<settings>
	<profiles>
	<profile>
    		<id>ispyb.site-GENERIC</id>

    		<activation>
      			<property>
        			<name>ispyb.site</name>
        			<value>GENERIC</value>
      			</property>
    		</activation>

    		<properties>
      			<jboss.home>C:/java/appServers/wildfly-8.2.0.Final</jboss.home>
    		</properties>
	</profile>
	</profiles>
</settings>
